h1 {
  text-transform: uppercase;
}

/* ================== */
/* ===     Hero Section    === */
/* ================== */
.hero {
  width: 100%;
  height: calc(100dvh - 60px);
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content chart";
  align-items: stretch;
  justify-content: center;
}

.hero .hero-content {
  grid-area: content;
  width: auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.hero .hero-content h1 {
  color: var(--foreground);
  font-size: 4rem;
  line-height: 1.25em;
  text-align: left;
}

.hero .hero-content h1 span {
  color: var(--accent-foreground);
}

.hero .hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.hero .hero-content a {
  padding: 12px 24px;
  width: fit-content;
  background-color: var(--accent);
  color: var(--foreground);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--accent-foreground);
}

.hero .hero-content a:hover {
  background-color: transparent;
  color: var(--foreground);
}

.hero .hero-chart {
  grid-area: chart;
  width: auto;
  min-width: 0;
  height: calc(100dvh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.card-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  width: clamp(300px, 30%, 500px);
  background: var(--card);
  color: var(--card-foreground);
  border: 1px dashed var(--border);
  padding: 0.5em;
}

.card:hover {
  border: 1px solid var(--foreground);
}

.card h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card p {
  color: var(--muted-foreground);
}

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form info";
  padding: 1em;
  gap: 1em;
}

form {
  grid-area: form;
  height: 100%;
  background: var(--card);
  color: var(--card-foreground);
  border: 1px dashed var(--border);
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

form h2 {
  text-transform: uppercase;
}

form .inputBx {
  position: relative;
  width: 100%;
}

form .inputBx input {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--foreground);
  border-radius: 0;
  outline: none;
  background: none;
  padding: 10px;
  padding-bottom: 7.5px;
  font-weight: 500;
  font-size: 1em;
  color: var(--foreground);
}

form .inputBx input:hover,
form .inputBx input:focus {
  background: var(--input);
}

form .inputBx input:valid {
  background: var(--input);
  border: 1px solid var(--foreground);
}

form .inputBx label {
  position: absolute;
  left: 0;
  font-style: normal;
  color: var(--muted-foreground);
  transition: 0.5s;
  pointer-events: none;
}

form .inputBx input:focus ~ label,
form .inputBx input:valid ~ label {
  transform: translateY(-27px);
  font-size: 0.8em;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 4px 4px;
  transition-delay: border 0.5s;
}

form .messageBx {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form button {
  padding: 12px 24px;
  width: fit-content;
  background-color: var(--accent);
  color: var(--foreground);
  text-transform: uppercase;
  border-radius: var(--radius);
  border: 1px solid var(--accent-foreground);
  cursor: pointer;
}

form button:hover {
  letter-spacing: 0.2em;
}

.info {
  grid-area: info;
  width: 100%;
  height: 100%;
  background: var(--card);
  color: var(--card-foreground);
  border: 1px dashed var(--border);
}

.info ul {
  position: relative;
  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.info ul li {
  width: 100%;
  border: 1px solid var(--border);
  padding: 0.5em 1em;
}

.info ul li:hover {
  border: 1px solid var(--foreground);
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "content"
      "chart";
    height: fit-content;
  }

  .hero .hero-content {
    height: calc(100dvh - 60px);
  }

  .hero .hero-content h1 {
    padding: 0;
  }

  .hero .hero-chart {
    height: 300px;
    padding: 1em;
  }

  .contact-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "form"
      "info";
  }
}
