/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  --mobile-breakpoint: 768px;
  /* I am writing it here, but the variable was never reused as that requires postcss */

  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(80.148% 0.21109 145.394);
  --accent-foreground: oklch(68.835% 0.22955 142.073);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(34.018% 0.10097 141.652);
  --accent-foreground: oklch(80.148% 0.21109 145.394);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

/* ================== */
/* ===     Global Styles    === */
/* ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: "Poppins", sans-serif;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--sidebar);
}

::-webkit-scrollbar:horizontal{
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--sidebar-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-border);
}

section {
  min-height: calc(100vh - 60px);
}

section:first-child {
  min-height: 100vh;
  padding-top: 60px;
}

@media (max-width: 768px) {
  section:first-child {
    height: unset;
  }
}

a {
  text-decoration: none;
  color: var(--foreground);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================== */
/* ===     Utility Styles     === */
/* ================== */
h1 {
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
}

h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 2px;
  background: var(--foreground);
}

/* ================== */
/* ===          Navbar        === */
/* ================== */

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--border);
  background: var(--background);
  z-index: 9999;
}

body:has(#sidebar) nav {
  left: 250px;
  width: calc(100% - 250px);
  background: var(--sidebar);
  justify-content: space-between;
  padding: 0 20px;
}

body:has(#sidebar.close) nav {
  left: 60px;
  width: calc(100% - 60px);
}

nav .logo a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--foreground);
}

nav .logo a span {
  color: var(--accent-foreground);
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav ul li a::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--foreground);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

nav .auth-buttons {
  display: flex;
  gap: 15px;
}

nav .auth-buttons a {
  padding: 8px 16px;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: transparent;
  color: var(--foreground);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav .auth-buttons a:hover {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--accent-foreground);
}

nav .auth-buttons a:nth-child(2) {
  background-color: var(--accent);
  border: 1px solid var(--accent-foreground);
}

nav .auth-buttons a:nth-child(2):hover {
  background: transparent;
  color: var(--foreground);
}

nav .auth-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--foreground);
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .auth-buttons button svg {
  width: 20px;
  height: 20px;
  fill: var(--foreground);
}

nav .auth-buttons button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

nav .auth-buttons button:hover svg {
  fill: var(--background);
}

@media (max-width: 768px) {
  body:has(#sidebar) nav,
  body:has(#sidebar.close) nav {
    left: 0;
    width: 100%;
  }

  nav {
    justify-content: space-between;
    padding: 0 12px;
  }

  nav .logo a {
    font-size: 1.5em;
  }

  nav ul {
    display: none;
  }

  nav .auth-buttons a {
    display: none;
  }
}

/* ================== */
/* ===        Sidebar         === */
/* ================== */
body:has(#sidebar) {
  display: grid;
  grid-template-columns: auto 1fr;
}

body:has(#sidebar) nav .logo {
  display: none;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background: var(--sidebar);
  border-right: 1px solid var(--sidebar-border);

  position: sticky;
  top: 0;
  align-self: start;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#sidebar ul li:has(.logo) {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.sidebar-footer {
  margin-top: auto;
}

#sidebar ul li a {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#sidebar ul li.active a {
  color: var(--sidebar-accent);
  background: var(--sidebar-accent-foreground);
}

#sidebar ul li.active a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 40px;
  background: var(--sidebar-accent-foreground);
  transform: translateX(-16px);
}

#sidebar ul li.active a svg {
  fill: var(--sidebar-accent);
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: var(--radius);
  padding: 0.85em;
  text-decoration: none;
  color: var(--sidebar-foreground);
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar .logo {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  background: none;
  border: none;
  color: var(--sidebar-foreground);
  cursor: pointer;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--sidebar-foreground);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background: var(--sidebar-accent);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu a {
  padding-left: 2em;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: var(--radius);
  background: none;
  cursor: pointer;
}

#toggle-btn svg {
  transition: 150ms ease;
}

#toggle-btn:hover {
  background: var(--sidebar-accent);
}

@media (max-width: 768px) {
  body,
  body:has(#sidebar),
  body:has(#sidebar.close) {
    grid-template-columns: 1fr;
  }

  body:has(#sidebar) nav .logo {
    display: block;
  }

  #sidebar {
    height: 61px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--sidebar-border);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    ul li {
      height: 100%;
    }

    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: 1px solid var(--sidebar-border);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }

  #sidebar.close {
    width: 100%;
    padding: 0;
  }

  #sidebar ul li.active a::before,
  #sidebar ul li.active a::after {
    width: 80%;
    height: 6px;
    background: var(--sidebar-accent);
    left: 50%;
    transform: translateX(-50%);
  }

  #sidebar ul li.active a::before {
    top: 0;
    border-top: 1px solid var(--sidebar-border);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* ================== */
/* ===     Hero Section    === */
/* ================== */

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.hero .hero-content {
  position: relative;
  flex: 1;
  min-height: 100%;
  width: 60%;
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .hero-content h1 {
  color: var(--foreground);
  font-size: 4rem;
  line-height: 1.25em;
  text-align: left;
}

.hero .hero-content h1 span {
  color: var(--accent-foreground);
}

.hero .hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.hero .hero-content a {
  padding: 12px 24px;
  background-color: var(--accent);
  color: var(--foreground);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--accent-foreground);
}

.hero .hero-content a:hover {
  background-color: transparent;
  color: var(--foreground);
}

.hero .hero-chart {
  position: relative;
  flex: 1;
  width: 40%;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .hero {
    height: 100%;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .hero .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero .hero-content h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    padding: 0;
  }

  .hero .hero-chart {
    width: 100%;
    height: 260px;
  }

  .hero .hero-chart canvas {
    height: 260px !important;
  }
}
