/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  --mobile-breakpoint: 768px;
  /* I am writing it here, but the variable was never reused as that requires postcss */

  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(95.75% 0.06688 141.194);
  --accent-foreground: oklch(37.703% 0.06991 163.448);

  --accent-something: oklch(60.273% 0.14322 154.272);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(37.703% 0.06991 163.448);
  --accent-foreground: oklch(95.75% 0.06688 141.194);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

/* ================== */
/* ===     Global Styles    === */
/* ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease, fill 0.2s ease, transform 0.2s ease,
    opacity 0.2s ease; */
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background-color: var(--background);
  color: var(--foreground);

  font-family: "Poppins", sans-serif;
  font-display: swap;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header"
    "main";

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--sidebar);
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--sidebar-border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-border);
}

a {
  text-decoration: none;
  color: var(--foreground);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  min-height: calc(100dvh - 60px);
}

@media (max-width: 768px) {
  section {
    min-height: fit-content;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  margin: 10px 0;
}

table tr {
  border-bottom: 1px solid var(--sidebar-border);
}

table th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--sidebar);
  padding: 0.5em 1em;
}

table th:first-child {
  border-top-left-radius: var(--radius);
}

table th:last-child {
  border-top-right-radius: var(--radius);
}

table th:hover {
  background: var(--sidebar-accent);
}

table td {
  padding: 0.5em;
}

table th,
table td {
  text-align: center;
}

table .badge {
  display: inline-flex;
  padding: 0 1em;
  border-radius: var(--radius);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  width: fit-content;
  margin-left: auto;
  border: 1px solid transparent;
}

table .badge[data-color="green"] {
  background: oklch(72.276% 0.19199 149.6 / 0.18);
  border-color: oklch(72.276% 0.19199 149.6 / 0.35);
  color: oklch(72.276% 0.19199 149.6);
}

table .badge[data-color="red"] {
  background: oklch(63.681% 0.20784 25.315 / 0.18);
  border-color: oklch(63.681% 0.20784 25.315 / 0.35);
  color: oklch(63.681% 0.20784 25.315);
}

table .badge[data-color="yellow"] {
  background: oklch(79.524% 0.1616 86.05 / 0.18);
  border-color: oklch(79.524% 0.1616 86.05 / 0.35);
  color: oklch(79.524% 0.1616 86.05);
}

table .badge[data-color="gray"] {
  background: oklch(71.068% 0.0352 256.828 / 0.18);
  border-color: oklch(71.068% 0.0352 256.828 / 0.35);
  color: oklch(71.068% 0.0352 256.828);
}

@media (max-width: 768px) {
  table thead {
    display: none;
  }

  table tr {
    display: block;
    border: 1px solid var(--sidebar-border);
    border-bottom: 2px solid var(--sidebar-border);
    margin-bottom: 3em;
    background: linear-gradient(90deg, var(--sidebar) 100px, transparent 100px);
  }

  table td {
    border-bottom: 1px solid var(--sidebar-border);
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
/* ================== */
/* ===     Utility Styles     === */
/* ================== */
h1 {
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
}

h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 2px;
  background: var(--foreground);
}

input {
  width: 100%;
  padding: 0.75em 0.5em;
  background: var(--sidebar-accent);
  color: var(--sidebar-foreground);
  border: 1px solid var(--sidebar-border);
  outline: none;
}

input:focus {
  border-color: var(--sidebar-accent-foreground);
}

button {
  padding: 0.75em 0.5em;
  color: var(--foreground);
  background: var(--sidebar-accent);
  border: 1px solid var(--sidebar-border);
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================== */
/* ===          Header        === */
/* ================== */

header {
  position: sticky;
  padding: 0 20px;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  background: var(--sidebar);
  border-bottom: 1px solid var(--sidebar-border);
}

body:has(nav) header {
  justify-content: space-between;
}

body:has(nav) header .logo {
  display: none;
}

header div:not(.logo) {
  display: flex;
  align-items: center;
  gap: 1em;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--foreground);
}

header .logo a span {
  color: var(--accent-foreground);
}

header .nav-links a {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header .nav-links a::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--foreground);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

header .nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

header .auth-links {
  display: flex;
  gap: 15px;
  padding-right: 1em;
}

header .auth-links a {
  padding: 8px 16px;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: transparent;
  color: var(--foreground);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header .auth-links a:hover {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--accent-foreground);
}

header .auth-links a:nth-child(2) {
  background-color: var(--accent);
  border: 1px solid var(--accent-foreground);
}

header .auth-links a:nth-child(2):hover {
  background: transparent;
  color: var(--foreground);
}

header button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--foreground);
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button svg {
  width: 20px;
  height: 20px;
  fill: var(--foreground);
}

header button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

header button:hover svg {
  fill: var(--background);
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  header:not(.logo) .nav-links,
  header:not(.logo) .auth-links a {
    display: none;
  }

  body:has(nav) header .logo {
    display: block;
  }
}

/* ================== */
/* ===         Navbar        === */
/* ================== */
body:has(nav) {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "logo header"
    "nav main";
}

.logo-container {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding-right: 1em;
  background: var(--sidebar);
  border-bottom: 1px solid var(--sidebar-border);
  border-right: 1px solid var(--sidebar-border);
}

.logo-container .logo {
  display: flex;
  justify-content: flex-end;
}

body:has(nav.close) .logo-container {
  width: 60px;
}

nav {
  grid-area: nav;
  height: 100%;
  width: 250px;
  background: var(--sidebar);
  border-right: 1px solid var(--sidebar-border);

  overflow: hidden;
  text-wrap: nowrap;
}

nav.close {
  width: 60px;
}

nav ul {
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: column;
}

nav ul li.sidebar-footer {
  margin-top: auto;
}

nav ul li a {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
nav ul li.active a {
  color: var(--sidebar-accent);
  background: var(--sidebar-accent-foreground);
}

nav ul li.active a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 40px;
  background: var(--sidebar-accent-foreground);
  transform: translateX(-16px);
}

nav ul li.active a svg {
  fill: var(--sidebar-accent);
}

nav a,
.logo {
  padding: 1em;
  text-decoration: none;
  color: var(--sidebar-foreground);
  display: flex;
  align-items: center;
  gap: 1.15em;
}

.logo {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  background: none;
  border: none;
  color: var(--sidebar-foreground);
  cursor: pointer;
}

.logo:hover {
  background: var(--sidebar-accent);
}

nav svg {
  flex-shrink: 0;
  fill: var(--sidebar-foreground);
}

nav a span {
  flex-grow: 1;
}

nav a:hover {
  background: var(--sidebar-accent);
}

.rotate svg:last-child {
  rotate: 180deg;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: var(--radius);
  background: none;
  cursor: pointer;
}

#toggle-btn svg {
  transition: 150ms ease;
  fill: var(--sidebar-foreground);
}

#toggle-btn:hover {
  background: var(--sidebar-accent);
}

body:has(#sidebar.close) .logo-container {
  width: 60px;
  padding: 0;
  justify-content: center;
}

body:has(#sidebar.close) .logo-container .logo {
  padding: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

body:has(#sidebar.close) #toggle-btn {
  margin-left: 0;
}

@media (max-width: 768px) {
  body:has(nav),
  body:has(nav.close) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
      "header"
      "main"
      "nav";
  }

  body .logo-container {
    display: none;
  }

  nav,
  nav.close {
    width: 100%;
    border-top: 1px solid var(--sidebar-border);
    padding: 0;
  }

  nav ul {
    display: grid;
    grid-auto-columns: 60px;
    grid-auto-flow: column;
    align-items: center;
    overflow-x: scroll;
  }

  nav ul li {
    height: 100%;
  }

  nav ul li a {
    height: 100%;
    justify-content: center;
    border-radius: 0;
  }

  nav ul li a span {
    display: none;
  }

  nav ul li.active a::before {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--sidebar-accent);
  }
}

/* ================== */
/* ===          Main          === */
/* ================== */
main {
  grid-area: main;
  overflow-y: auto;
}

/* ================== */
/* ===     Hero Section    === */
/* ================== */
.hero {
  width: 100%;
  height: calc(100dvh - 60px);
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content chart";
  align-items: stretch;
  justify-content: center;
}

.hero .hero-content {
  grid-area: content;
  width: auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.hero .hero-content h1 {
  color: var(--foreground);
  font-size: 4rem;
  line-height: 1.25em;
  text-align: left;
}

.hero .hero-content h1 span {
  color: var(--accent-foreground);
}

.hero .hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.hero .hero-content a {
  padding: 12px 24px;
  width: fit-content;
  background-color: var(--accent);
  color: var(--foreground);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--accent-foreground);
}

.hero .hero-content a:hover {
  background-color: transparent;
  color: var(--foreground);
}

.hero .hero-chart {
  grid-area: chart;
  width: auto;
  min-width: 0;
  height: calc(100dvh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "content"
      "chart";
    height: fit-content;
  }

  .hero .hero-content {
    height: calc(100dvh - 60px);
  }

  .hero .hero-content h1 {
    padding: 0;
  }

  .hero .hero-chart {
    height: 300px;
    padding: 1em;
  }
}
