/* ================== */
/* ===        Imports         === */
/* ================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

/* ================== */
/* ===     Global Styles    === */
/* ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: "Poppins", sans-serif;
  font-display: swap;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 20px 40px;
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
  color: var(--foreground);
}

ul {
  list-style: none;
}

/* ================== */
/* ===     Utility Styles     === */
/* ================== */
h1 {
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5em;
  width: 100%;
}

h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 2px;
  background: var(--foreground);
}

/* ================== */
/* ===          Navbar        === */
/* ================== */

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--foreground);
  background: var(--background);
  z-index: 9999;
}

nav .logo a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--foreground);
}

nav .logo a span {
  color: var(--accent);
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav ul li a::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--foreground);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

nav .auth-buttons {
  display: flex;
  gap: 15px;
}

nav .auth-buttons a {
  padding: 8px 16px;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: transparent;
  color: var(--foreground);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav .auth-buttons a:hover {
  background-color: var(--foreground);
  color: var(--background);
  border: 1px solid var(--accent);
}

nav .auth-buttons a:nth-child(2) {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

nav .auth-buttons a:nth-child(2):hover {
  background: transparent;
  color: var(--foreground);
}

nav .auth-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--foreground);
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .auth-buttons button svg{
  width: 20px;
  height: 20px;
  fill: var(--foreground);
}

nav .auth-buttons button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

nav .auth-buttons button:hover svg{
  fill: var(--background);
}

/* ================== */
/* ===     Hero Section    === */
/* ================== */

.hero {
  height: 100vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-content {
  flex: 1;
  width: 60%;
}

.hero .hero-content h1 {
  color: var(--foreground);
  font-size: 4rem;
  line-height: 1.25em;
  text-align: left;
}

.hero .hero-content h1 span {
  color: var(--muted-foreground);
}

.hero .hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.hero .hero-content a {
  padding: 12px 24px;
  background-color: var(--accent);
  color: var(--foreground);
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid var(--accent);
}

.hero .hero-content a:hover {
  background-color: transparent;
  color: var(--foreground);
}

.hero .hero-chart {
  height: 100%;
  width: 40%;
}
