section.page {
  padding: 2em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 400px auto;
  grid-template-areas:
    "card1 card2 card3 card4"
    "chart chart chart list"
    "transactions transactions transactions transactions";
  gap: 0.5em;
}

section.page .card {
  background: var(--card);
  border: 1px dashed var(--border);
}

section.page .card span {
  width: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  color: var(--muted-foreground);
  border-bottom: 1px dashed var(--border);
}

section.page .card h2 {
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  margin: 0.2em 0;
  font-weight: 500;
}

section.page .card .info {
  width: 100%;
  font-size: 0.9em;
  display: flex;
}

section.page .card .info p {
  flex: 1;
  text-align: center;
  padding: 0.25em;
}

section.page .card .info p:first-child {
  border: 1px solid;
  border-bottom: 0;
  border-left: 0;
  background: color-mix(in oklab, var(--green) 18%, transparent );
  border-color: color-mix(in oklch, var(--green) 35%, transparent);
  color: var(--green);
}

section.page .card .info p:nth-child(2) {
  border: 1px solid;
  border-bottom: 0;
  background: color-mix(in oklab, var(--red) 18%, transparent );
  border-color: color-mix(in oklch, var(--red) 35%, transparent);
  color: var(--red);
}

section.page .card .info p:last-child {
  border: 1px solid var(--border);
  border-bottom: 0;
  border-right: 0;
  background: none;
  border-color: var(--border);
  color: var(--muted-foreground);
}

section.page .card:nth-child(1) {
  grid-area: card1;
}
section.page .card:nth-child(2) {
  grid-area: card2;
}
section.page .card:nth-child(3) {
  grid-area: card3;
}
section.page .card:nth-child(4) {
  grid-area: card4;
}

section.page .chart {
  grid-area: chart;
  width: 100%;
  background: var(--card);
  border: 1px dashed var(--border);
  padding: 0.5em;
}

section.page .list {
  grid-area: list;
  background: var(--card);
  border: 1px dashed var(--border);

  display: flex;
  flex-direction: column;
}

section.page h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

section.page ul {
  height: auto;
  overflow-x: auto;
}

section.page ul li {
  display: flex;
  padding: 0.5em;
  border-top: 1px dashed var(--border);
  border-bottom: 1px dashed var(--border);
  font-size: 1.2em;
  font-weight: 500;
}

section.page ul li:hover {
  background: var(--sidebar-accent);
}

section.page ul li h2 {
  text-align: left;
  font-size: 1em;
}

section.page ul li p {
  font-size: 0.65em;
  color: var(--muted-foreground);
}
section.page ul li p.up {
  color: oklch(72.276% 0.19199 149.6);
}
section.page ul li p.down {
  color: oklch(63.681% 0.20784 25.315);
}

section.page ul li .prices {
  margin-left: auto;
  text-align: right;
}

section.page .transactions {
  grid-area: transactions;
  height: 370px;
  background: var(--card);
  border: 1px dashed var(--border);
  padding: 1em;
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  section.page {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "chart chart"
      "list list"
      "transactions transactions";
  }

  section.page .chart {
    height: 300px;
  }
}

@media (max-width: 768px) {
  section.page {
    padding: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "chart"
      "list"
      "transactions";
  }

  section.page .chart {
    padding: 0;
    height: 200px;
    width: 100%;
  }

  section.page ul {
    height: 200px;
  }
}
