header .content {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

header .content:hover {
  cursor: pointer;
  background: var(--sidebar-accent);
}

header .content p {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header .imgBx {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: var(--foreground);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .imgBx svg {
  width: 36px;
  height: 36px;
  fill: var(--background);
}
