@media (max-width: 768px) {
  #social-sidebar {
    display: none;
  }

  article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: calc(100dvh - 61px);
    min-height: 0;
  }

  article .messages {
    min-height: 0;
  }
}
