@media (max-width: 768px) {
    #social-sidebar {
        display: none;
    }

    article {
        display: block;
        height: calc(100dvh - 61px);
    }

    article .messages{
        height: calc(100% - 61px - 62px);
    }
}